* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 24px;
  scroll-behavior: smooth;
}

/* splash screen: start */

.splash {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 200;
  color: white;
  text-align: center;
  line-height: 90vh;
}
.splash.display-none {
  position: fixed;
  opacity: 0;

  z-index: -10;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.divdiv {
  margin: 0px;
  background: radial-gradient(#cecece, #fff);
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(220, 220, 220) 40%,
    rgb(170, 170, 170) 98%,
    rgb(10, 10, 10) 100%
  );
  position: relative;
  margin-bottom: 4rem;
}
.loader {
  margin-right: 15rem;
}

.loader:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 0 solid #ffffff05;

  box-shadow: 0 -10px 20px 20px #ffffff40 inset,
    0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
    0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
    0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
  filter: blur(3px);
  animation: 2s rotate linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.enjoy {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 4rem;
  text-transform: uppercase;

  background: linear-gradient(-90deg, rgb(0, 0, 0), rgb(255, 255, 255));
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* splash screen: end */

/* light mode/dark mode: start */

body {
  --whitenavbarmobile: rgb(243, 243, 243, 0.9);
  --white: #f3f3f3;
  --black: #283747;
  --grey1: rgb(228, 224, 224);
  --color1: #3c1874;
  --color2: #de354c;
  --navbarhover: #87a8a4;
  --skillshover: rgb(191, 177, 204); /*color2*/
  background-color: var(--white);
}
.dark {
  --whitenavbarmobile: rgb(0, 0, 0, 0.9);
  --white: #000000;
  --black: #ffffff;
  --grey1: #162333;
  --color1: #98b1c4;
  --color2: rgb(225, 81, 25);
  --skillshover: #283d58;
  --navbarhover: #969adb;
}
.button {
  background-color: var(--white);
  color: var(--black);
  border: none;
  padding: 0;
  margin: 0;
  margin-top: -1rem;
  right: 1rem;
  position: absolute;
}
.button:hover {
  cursor: pointer;
  color: var(--navbarhover);
}

/* light mode/dark mode: */

/* scroll-up button: start */

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: var(--color1);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: var(--white);
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* scroll-up button: end */

/* nav bar: start */

.bigscreennav {
  position: sticky;
  top: 0;
  background-color: var(--white);
}
.bigscreennav .containernavbar {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 0.2rem;
}
.bigscreennav .containernavbar ul li {
  display: inline-block;
}
.bigscreennav .containernavbar ul li a:hover {
  color: var(--navbarhover);
}
.bigscreennav .containernavbar ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 20px;
  color: var(--black);
  font-size: 0.9rem;
}

.bigscreennav .containernavbar ul li.active a {
  color: var(--color1);
  transition: 0.3s ease color;
}
.selectyourlanguage {
  padding: 0;
  margin: 0;
  margin-top: 0.425rem;
  right: 3rem;
  position: absolute;
}
@media (max-width: 900px) {
  .bigscreennav {
    display: none;
  }
}
.header {
  background-color: var(--whitenavbarmobile);
  padding: 1rem 2rem;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header.active {
  background-color: var(--white);
}

.logo {
  font-size: 30px;
  font-weight: 700;
}
.nav_ico {
  display: inline-block;
  width: 30px;
  transition: all 0.3s ease-in-out;
  position: absolute; /* ab hier neu für nav_ico */
  top: 0;
  right: 0;
  margin-top: 0.75rem;
  margin-right: 1rem;
}
.nav_ico.active {
  margin-right: 8rem;
  margin-top: 2.5rem;
}
.nav_ico span {
  transition: all 0.3s ease-in-out;
  height: 2px;
  display: block;
  margin: 4px 0;
  background-color: var(--black);
}
.nav_ico span:first-child,
.nav_ico span:last-child {
  width: 70%;
  margin: 0 15%;
}
.nav_ico.active span:first-child {
  transform: rotate(45deg);
  transform-origin: 10px 2px 0;
  width: 100%;
  margin: 0;
}
.nav_ico.active span:last-child {
  transform: rotate(-45deg);
  transform-origin: 5px -2px 0;
  width: 100%;
  margin: 0;
}
.nav_ico.active span:nth-child(2) {
  opacity: 0;
}
.nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 998;
  background: transparent;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.nav-overlay.active {
  background: rgba(0, 0, 0, 0.7);
  pointer-events: auto;
}

.side_nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 260px;
  height: 100vh;
  background: var(--white);
  z-index: 999;
  padding-top: 100px;
  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
}
.side_nav.active {
  transform: translateX(0%);
}
.side_nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.side_nav ul li {
  margin: 0;
}
.side_nav ul li a {
  display: block;
  color: var(--black);
  font-size: 24px;
  text-decoration: none;
  padding: 15px 30px;
  border-bottom: 1px solid;
  background: linear-gradient(to right, var(--white), var(--white));
  transition: all 0.3s ease-in-out;
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: right center;
}

.side_nav ul li a:hover {
  background-size: 100% 100%;
  color: var(--black);
}
.button2 {
  background-color: var(--white);
  color: var(--black);
  border: none;
  padding: 15px 30px;
}
.button2:hover {
  cursor: pointer;
  color: var(--color2);
}
.selectyourlanguage2 {
  left: 80px;
  padding-top: 15px;
  position: absolute;
}
ul.lang-list li.lang a {
  border-bottom: none;
}

@media (min-width: 901px) {
  .side_nav {
    display: none;
  }
  .header {
    display: none;
  }
}
/* navbar: end */

/* home: start */
#home {
  min-height: 98vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hometext {
  color: var(--black);
  font-size: 3rem;
  margin: 4rem;
}
.highlightname {
  font-size: 4rem;
}
.oppucation {
  color: var(--color1);
  margin-top: 0.5rem;
  font-size: 1.8rem;
  text-align: left;

  font-weight: 500;
}
.picturehome img {
  margin-left: 4rem;
  width: 40vw;
}
.typing {
  color: var(--color2);
}
.typing2 {
  color: var(--color2);
}
.borderleft {
  border-left: 0.15rem solid var(--color1);
  padding-left: 1rem;
}
@media (max-width: 1200px) {
  .picturehome img {
    margin-left: 3rem;
  }
  .hometext {
    font-size: 2rem;
    margin: 3rem;
  }
  .oppucation {
    font-size: 1.4rem;
  }
  .highlightname {
    font-size: 3.5rem;
  }
}
@media (max-width: 1000px) {
  .hometext {
    font-size: 1.5rem;
  }
  .oppucation {
    font-size: 1.2rem;
  }
  .highlightname {
    font-size: 3rem;
  }
  .borderleft {
    padding-left: 0.5rem;
  }
}
@media (max-width: 800px) {
  #home {
    flex-direction: column;
  }
  .picturehome img {
    margin-left: 0;
    width: 50vw;
    margin-top: 3rem;
  }
  .hometext {
    margin-top: 1rem;
  }
}
@media (max-width: 600px) {
  .picturehome img {
    width: 60vw;
  }
  .hometext {
    font-size: 1.4rem;
  }
  .oppucation {
    font-size: 1.1rem;
  }
  .highlightname {
    font-size: 2.8rem;
  }
  .borderleft {
    padding-left: 0.4rem;
  }
}
/* home: end */
/* about: start */
#about {
  display: flex;

  flex-direction: column;
}
.aboutme {
  color: var(--black);
  border-left: 0.1rem solid var(--color2);
  padding-left: 0.5rem;
  margin: 4rem 0 1rem 4rem;
}
.aboutmehighlight {
  margin-top: 0.1rem;
  color: var(--color1);
}
.aboutdisplayinline {
  display: flex;
  flex-direction: row;
  margin: 2rem auto 0 auto;
  padding-bottom: 2rem;
}
.aboutlittletext {
  color: var(--black);
  width: 40vw;
  margin-left: 1rem;
  display: flex;
  font-size: 0.9rem;
  flex-direction: column;
}
.aboutlittle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutlittletextheading {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.aboutlittletextunderheading {
  color: var(--color2);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.pictureabout img {
  width: 25vw;
  height: auto;
  margin-right: 1rem;
  margin-top: 1rem;
}
.attributes {
  color: var(--black);

  margin-top: 1rem;
  width: fit-content;
  height: fit-content;
}

.attributes ul {
  display: inline-block;

  list-style-type: none;
  line-height: 1.3rem;
}

.attributes ul.left {
  color: var(--color1);
  margin-right: 1rem;
}
.email {
  color: var(--black);
}
.attributes2 ul {
  list-style-type: none;
  margin-top: 1rem;
}
.attributes2question {
  color: var(--color1);
  font-weight: 500;
}
.attributes2answer {
  margin-bottom: 0.5rem;
}
@media (max-width: 1020px) {
  .aboutdisplayinline {
    flex-direction: column;
  }
  .aboutlittletext {
    width: 80vw;
    margin-left: 0;
    font-size: 0.9rem;
  }
  .aboutlittletextheading {
    font-size: 1.4rem;
  }
  .pictureabout img {
    width: 40vw;
    display: flex;
    margin: 1rem auto 1rem auto;
  }
  .attributes {
    color: var(--black);

    margin-top: 1rem;
    width: fit-content;
    height: fit-content;
  }

  .attributes ul {
    display: inline-block;

    list-style-type: none;
    line-height: 1.3rem;
  }

  .attributes ul.left {
    color: var(--color1);
    margin-right: 1rem;
  }
}
@media (max-width: 650px) {
  .aboutme {
    padding-left: 0.25rem;
    margin-left: 2rem;
  }
}
@media (max-width: 520px) {
  .attributes {
    display: none;
  }
}
@media (min-width: 521px) {
  .attributes2 {
    display: none;
  }
}
@media (max-width: 400px) {
  .aboutme {
    padding-left: 0.25rem;
    margin-left: 1rem;
  }
}
/* about: end */

/* skills: start */

#skills {
  height: fit-content;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 2rem;
}
.skillsgridlayout {
  margin: 3rem auto 5rem auto;
  color: var(--black);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.skillsmyskills {
  color: var(--black);
  border-left: 0.1rem solid var(--color2);
  padding-left: 0.5rem;
  margin-left: 4rem;
}
.skillshighlight {
  margin-top: 0.1rem;
  color: var(--color1);
}
.skillsgridlayoutsinglegrids {
  font-weight: 350;
  margin: 0.5rem 0;
  border: 1px solid var(--white);
  padding: 2rem 0.5rem 0 0.5rem;

  background-color: var(--grey1);
  height: auto;
  width: 25vw;
  min-height: 25vw;
  justify-content: center;
  align-items: center;
}
.skillsgridlayoutsinglegrids:hover {
  background-color: var(--skillshover);
}
.material-icons.md-36 {
  font-size: 40px;
}
.skills-material-icons {
  margin-bottom: 0.4rem;
  background: linear-gradient(-90deg, var(--black), var(--color1));
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.skillsheading {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.1rem;
}
.tellaboutskills {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 0.5rem 1rem 0 1rem;
}
.tellaboutskills a {
  color: var(--black);
  text-decoration: underline;
}
.tellaboutskills a:hover {
  text-decoration: var(--color1);
}
@media (max-width: 1200px) {
  .skillsgridlayout {
    width: 90%;
  }
  .skillsgridlayoutsinglegrids {
    margin: 0.25rem 0;
    border: 1px solid var(--white);
    padding: 1.5rem 0.5rem 1rem 0.5rem;
    width: 29vw;
    min-height: 35vw;
  }
  .material-icons.md-36 {
    font-size: 36px;
  }
}
@media (max-width: 970px) {
  .tellaboutskills {
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0.3rem 0.3rem 0 0.3rem;
  }
  .skillsheading {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1rem;
  }
  .material-icons.md-36 {
    font-size: 32px;
  }
  .skillsgridlayoutsinglegrids {
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 920px) {
  .skillsgridlayout {
    grid-template-columns: repeat(2, 1fr);
  }

  .skillsgridlayoutsinglegrids {
    width: 44vw;
    min-height: 30vw;
    margin-bottom: 0.25rem;
  }
}
@media (max-width: 870px) {
  .skillsgridlayoutsinglegrids {
    min-height: 38vw;
  }
}
@media (max-width: 780px) {
  .skillsgridlayoutsinglegrids {
    min-height: 45vw;
  }
}
@media (max-width: 650px) {
  .skillsgridlayout {
    grid-template-columns: repeat(1, 1fr);
  }

  .skillsgridlayoutsinglegrids {
    width: 90vw;
    min-height: 30vw;
  }
  .skillsmyskills {
    padding-left: 0.25rem;
    margin-left: 2rem;
  }
}
@media (max-width: 400px) {
  .skillsgridlayoutsinglegrids {
    width: 92vw;
    margin-bottom: 0.1rem;
  }
  .skillsmyskills {
    padding-left: 0.25rem;
    margin-left: 1rem;
  }
}
@media (min-width: 2000px) {
  .skillsgridlayoutsinglegrids {
    min-height: 20vw;
  }
}
/* skills: end */

/* values: start */

#values {
  width: 100%;
  padding-top: 4rem;
}
.valuesmyvalues {
  color: var(--black);
  border-left: 0.1rem solid var(--color2);
  padding-left: 0.5rem;
  margin-left: 4rem;
}
.valueshighlight {
  margin-top: 0.1rem;
  color: var(--color1);
}
.valuesinrow {
  width: 100%;
  margin: 4rem auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.image {
  position: relative;
  width: 25vw;
  height: 25vw;
  margin: 0 0.5rem;
}

.image__img {
  display: block;
  width: 25vw;
}
.image img {
  object-fit: cover;
  width: 25vw;
  height: 25vw;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 25vw;
  background: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.image__overlay--blur {
  backdrop-filter: blur(5px);
}

.image__overlay--primary {
  background: (00, 95, 78, 0.5);
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 1;
}

.image__overlay:hover > * {
  transform: translateY(0);
}

.image__title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;

  background: linear-gradient(-90deg, var(--color1), var(--color2));
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image__description {
  font-size: 1rem;
  font-weight: 100;
  margin: 0.5rem;

  text-align: center;
}
.anchorLink {
  text-decoration: none;
  color: #ffffff;
  text-align: center;

  font-size: 1rem;
}
.anchorLink:hover {
  color: var(--color2);
}
.valueslongertext {
  width: 70%;
  margin: 2rem auto 4rem auto;
  color: var(--black);
}
.vltheading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;

  background: linear-gradient(-90deg, var(--color1), var(--color2));
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
  margin-bottom: 2rem;
}
.myAnchor {
  color: var(--white);
}
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.moreimages {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.moreimagessingleimage img {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  margin: 2rem 1rem 0 1rem;
}
.moreimages video {
  width: 25vw;
  height: 25vw;
  object-fit: cover;
  margin: 2rem 1rem 0 1rem;
}
@media (max-width: 1200px) {
  .valueslongertext {
    margin-bottom: 2rem;
  }
  .image__description {
    font-size: 0.8rem;
  }
  .image__title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .vltheading {
    margin-bottom: 1rem;
  }
}
@media (max-width: 900px) {
  .image__description {
    font-size: 0.7rem;
  }
  .image__title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .valueslongertext {
    margin-top: 1.5rem;
  }
  .vlttext {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .valuesmyvalues {
    padding-left: 0.25rem;
    margin-left: 2rem;
  }
  .valuesinrow {
    margin: 4rem auto;

    flex-direction: column;
  }
  .image {
    position: relative;
    width: 72vw;
    height: 72vw;
    margin-bottom: 3rem;
  }

  .image__img {
    width: 72vw;
  }
  .image img {
    width: 72vw;
    height: 72vw;
  }

  .image__overlay {
    width: 72vw;
    height: 72vw;
  }
  .image__title {
    font-size: 2rem;
    font-weight: 600;
  }

  .image__description {
    font-size: 1.2rem;
  }
  .moreimages {
    flex-direction: column;
  }
  .moreimagessingleimage img {
    width: 64vw;
    height: 64vw;
    margin: 0;
    margin-top: 0.5rem;
  }
  .moreimages video {
    width: 64vw;
    height: 64vw;
    margin: 0;
    margin-top: 0.5rem;
  }
  .vlttext {
    margin-bottom: 0.5rem;
    font-size: 0.95rem;
  }
  .valueslongertext {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .vltheading {
    font-size: 1.8rem;
  }
  .image__title {
    font-size: 1.8rem;
    font-weight: 500;
  }

  .image__description {
    font-size: 1.1rem;
  }
}
@media (max-width: 400px) {
  .valuesmyvalues {
    padding-left: 0.25rem;
    margin-left: 1rem;
  }
  .vltheading {
    font-weight: 500;
    font-size: 1.6rem;
  }
  .image__title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .image__description {
    font-size: 1rem;
  }
}
